{% extends "layout.html" %}

{% block title %}
    Change Username
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="username" name="new_password" placeholder="New Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="username" name="confirmation" placeholder="Confirm Username" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Change Username</button>
    </form>
{% endblock %}
